<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Лучко Денис Резюме</title>
    <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="main">
     <div>
    <h1>{{name}}</h1>
    <h3>{{position}}</h3>
    </div>
    <img src="{{ url_for('static', filename='photo_2025-04-24_20-39-39.jpg') }}">
</div>
<h2>Contacts</h2>
<ul>
    {% for contact, link in contacts %}
        {% if link %}
            <li><a href={{link}}>{{contact}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h2>Summary</h2>
<p>{{summary}}</p>
<h2>Skills</h2>
<table border = "1">
    {% for i in range(0, skills|length, 4)%}
        <tr>
            {% for j in range(4) %}
                {% if i + j < skills|length %}
                    <td>{{skills[i+j]}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h2>Projects</h2>
{% for project, link in projects %}
    <a href={{link}}>{{project}}</a>
{% endfor %}
    <h2>Education</h2>
    <ul>
        {% for e in education%}
            <li>{{e}}</li>
        {%endfor%}
    </ul>

    <h2>Achievements</h2>
        {% for achievement in achievements%}
            <p>{{achievement}}</p>
        {%endfor%}

    <h2>Facts</h2>
        {% for fact in facts%}
            <p>{{fact}}</p>
        {%endfor%}


</body>
</html>
