body {
    background-image: linear-gradient(0, hsla(144,63%,46%,0.5) 0%, hsla(144,63%,46%,0.5) 12.5%,hsla(189,63%,46%,0.5) 12.5%, hsla(189,63%,46%,0.5) 25%,hsla(234,63%,46%,0.5) 25%, hsla(234,63%,46%,0.5) 37.5%,hsla(279,63%,46%,0.5) 37.5%, hsla(279,63%,46%,0.5) 50%,hsla(324,63%,46%,0.5) 50%, hsla(324,63%,46%,0.5) 62.5%,hsla(9,63%,46%,0.5) 62.5%, hsla(9,63%,46%,0.5) 75%,hsla(54,63%,46%,0.5) 75%, hsla(54,63%,46%,0.5) 87.5%,hsla(99,63%,46%,0.5) 87.5%, hsla(99,63%,46%,0.5) 100%),linear-gradient(90deg, hsl(173,87%,60%) 0%, hsl(173,87%,60%) 12.5%,hsl(218,87%,60%) 12.5%, hsl(218,87%,60%) 25%,hsl(263,87%,60%) 25%, hsl(263,87%,60%) 37.5%,hsl(308,87%,60%) 37.5%, hsl(308,87%,60%) 50%,hsl(353,87%,60%) 50%, hsl(353,87%,60%) 62.5%,hsl(38,87%,60%) 62.5%, hsl(38,87%,60%) 75%,hsl(83,87%,60%) 75%, hsl(83,87%,60%) 87.5%,hsl(128,87%,60%) 87.5%, hsl(128,87%,60%) 100%);
    color #274708;
}

.main{
    width: 50%;
    margin: auto;
    backhround-color: #FAFFAB;
    padding:20px;
    border: 10px solid #274708;
    border-raduis: 20px;
}
h1, h2, h3{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: norm;
}
